<h2>ログイン</h2>

<% if flash.alert %>
<p class="alert"><%= flash.alert %></p>
<% end %>

<%= form_tag :session, id: 'login_form', class: 'mb-3' do %>
  <div>
    <label>ユーザー名：</label>
    <input type="text" name="name">
  </div>
  <div>
    <label>パスワード：</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="ログイン" class="btn btn-sm btn-primary text-white">
  </div>
<% end %>
